.Library {
	width: 350px;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;
	overflow: scroll;

	background: #fdfff7;
	box-shadow: 2px 2px 30px rgb(201, 201, 201);

	h2 {
		font-family: 'Inter', sans-serif;
		font-size: 2rem;
		margin: 1rem;
	}

	.libraryTracks {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		margin: 0.5rem;
	}

	@media screen and(max-width: 500px) {
		width: 55%;

		.libraryTracks {
			margin: 0;
		}
	}
}

.track {
	background: #252525;
	display: flex;
	align-items: center;

	margin: 0.5rem;
	padding: 0.7rem;
	border-radius: 15px;

	transition: all 0.3s ease;
	cursor: pointer;

	&:hover {
		background: #000;

		.trackInfo {
			color: #00b84c;
		}
	}

	.tarckImage {
		width: 30%;

		img {
			width: 100%;
			border-radius: 10px;

			object-fit: cover;
		}
	}

	.trackInfo {
		font-family: 'Inter', sans-serif;
		margin-left: 2rem;

		display: flex;
		align-items: flex-start;
		flex-direction: column;

		color: #00b84c;

		h3 {
			font-size: 1rem;
			margin-bottom: 0.5rem;
		}

		h4 {
			font-size: 0.7rem;
		}
	}
	@media screen and(max-width: 500px) {
		.tarckImage {
			width: 35%;
		}

		.trackInfo {
			h3 {
				font-size: 0.85rem;
				margin-bottom: 0.5rem;
			}

			h4 {
				font-size: 0.6rem;
			}
		}
	}
}

.selectedTrack {
	background: #08b14e;
	.trackInfo {
		color: #252525;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 184, 77, 0.5);
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(0, 184, 77, 0.5);
}
