.musicPlayer {
	width: 100%;
	min-height: 34vh;

	display: flex;
	align-items: center;
	// justify-content: space-evenly;
	flex-direction: column;
	font-family: 'Inter', sans-serif;

	.timeControl {
		width: 50%;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 2rem;

		input {
			width: 100%;

			appearance: none;
			-webkit-appearance: none;
			background: transparent;
			cursor: pointer;
		}

		// background: #ffe8e8;
		p {
			margin: 0 1rem;
		}
	}

	.playControl {
		// background: #eaffc3;
		width: 25%;

		display: flex;
		align-items: center;
		justify-content: space-between;
		user-select: none;

		span {
			font-size: 2.5rem;
			cursor: pointer;
		}
	}
}

//=> Input Bar customize:
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
}

.inputField {
	background: #9600fa;
	width: 100%;

	height: 1rem;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.animated-inputField {
	background: #919191;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	pointer-events: none;

	transform: translateX(50%);
}
