.navbar {
	width: 100%;
	height: 7vh;

	display: flex;
	align-items: flex-start;
	justify-content: space-around;

	.logo {
		background: #fcbfbf;
		padding: 0.5rem;
		text-transform: uppercase;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
			sans-serif;
		letter-spacing: 1rem;
		color: #fff;
	}
}
